@model IEnumerable<PodStream.Providers.Models.PodcastApi.Show>

@{
    ViewBag.Title = "Episodes";
}

<h2>Episodes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChannelGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageLinkScaled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItunesLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XmlLink)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Channel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChannelGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageLinkScaled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItunesLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XmlLink)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
