@model PodStream.Models.Feed

@{
    ViewBag.Title = "Podcast Feed";
}

<h2>@Model.Title</h2>
<p>@Model.Description</p>

<h3>Udsendelser</h3>
<table class="table">
    <tr>
        <th>Beskrivelse</th>
        <th>Link</th>
        <th>Udgivelses dato</th>
    </tr>
    @foreach (var item in Model.FeedItems)
    {

        <tr>
            <td>@item.Summary</td>
            <td><a href="@item.Url" target="_blank">Afspil</a></td>
            <td>@item.PublishDate.ToString("dd-MM-yyyy")</td>
        </tr>
    }
</table>

